<!DOCTYPE html>
<html>
  <head>
    <title>Chess8</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul id="app-menu">
    <a href="/game" class="div-href"><li class="app-li">Играть</li></a>
    <a href="/rules" class="div-href"><li class="app-li">Правила</li></a>
    <a href="/home" class="div-href"><li class="app-li">Чемпионы</li></a>
  </ul>
    <%= yield %>
  </body>
</html>
